* {
    box-sizing: border-box;
}
body {
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height: 97vh;
    border: 2px solid violet;
    position: static;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    width: 550px;
    height: 500px;
    margin: auto;
}

.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header, .display, .controller {
    width: 500px;
    margin: auto;
    border: 2px solid red;
}

.header, .display {
    height: 75px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: xx-large;
}
.controller {
    height: 300px;
    background-color: rgb(90, 86, 86);
}

.firstRow, .secondRow, .thirdRow, .fourthRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: inherit;
    border: 1px solid salmon;
}
.number, .operator {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    margin: 5px;
    padding: 15px 40px;
}