* {
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 500px;
    border-radius: 12px;
    /* margin: auto; */
    background-color: rgb(176, 124, 100);
    border: 3px solid black;
}

.btn,
.btn:focus,
.btn:active {
    background-color: #00f;
}

.btn:hover {
    background-color: lightgrey;
}

.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display,
.controller {
    width: 350px;
    margin: auto;
}

.header,
.display {
    height: 75px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: xx-large;

    border-radius: 10px;
    background-color: rgb(162, 120, 120);
    border: 2px solid black;
}


.firstRow,
.secondRow,
.thirdRow,
.fourthRow,
.fifthRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 75px;
    width: inherit;
}

.number,
.operator {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 30px;
    margin: 5px 8px;
    border-radius: 10px;
    background-color: aquamarine;
    border: 2px solid black
}

.clearBtn,
.deleteBtn {
    width: 220px;
    font-size: 23px;
}

.clearBtn {
    background-color: crimson;
}

.deleteBtn, .negative {
    background-color: cadetblue;
}

.blur {
    filter: blur(1px);
}